*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #E0E4E5;
    font-family: 'Open Sans', sans-serif;
    overflow: scroll;
}

.wrap{
    max-width: 1100px;
    width: 90%;
    margin: auto;
    padding: 50px 0px 100px 0px;
}

.wrap > h1{
    color: #494B4D;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px 0px;
    margin-bottom: 10px;
}

.wrap > h1:after{
    content: '';
    width: 100%;
    height: 1px;
    background: #C7C7C7;
    margin: 15px 0;
}

#monto {
    font-size: 22px;
    font-weight: bold;
    padding: 3px;
}

.store_wrapper{
    display: flex;
}

.fa-trash{
    color:red
}

#table-principal{
    text-align:center
}

.fa-trash:hover{
    color:rgb(114, 3, 3)
}

.marca-producto2{
    display:none
}

.fa-cart-arrow-down{
    width: auto;
    height: auto;
    color: #E0E4E5;
    float: left;
}

.fa-arrow-circle-left{
    width: auto;
    height: auto;
    color: #E0E4E5;
    float: left;
}

.category_list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* border: 1px solid red; */
}

.category_list .category_item{
    display: block;
    justify-content: center;
    width: 90%;
    padding: 10px 0;
    margin-bottom: auto;
    background: #248BE0;
    border: 9px solid #ffffff;

    text-align: center;
    text-decoration: none;
    color: #FFF;
}

.category_list .category_item-active{
    background: #0000FF;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    width: 228px;
    height: 122px;
    text-align: center;
}

.row{
    align-items: stretch;
    justify-content: space-between;
    margin-right: -14px;
    margin-left: -1px;
}


/*PRODUCTS*/

.products_list{
    width: 82%;
    display: flex;
    flex-wrap: wrap;
}

.products_list .product_item{
    max-width: 230px;
    /* background-color: rgba(214, 9, 9, 0.8); */
    text-align: center;
    transition: all .4s;
}

.products_list .product_item img{
    width: 110px;
    height: 100px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    /* background-color: rgb(214, 169, 21); */
    padding: 10px;
    justify-content: space-around;
    max-width: 1100px;
    width: 90%;
    margin: auto;
    align-content: stretch;
}

.precio{
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
}

.signo-pesos{
    padding: 8px;
}

.row2 {
    display:inline-flex;
    vertical-align:middle;
}

.footer{
    color : #ffffff;
    font-family: sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
}


@media screen and (max-width: 800px){
    .grid-container{
        grid-template-columns: auto auto auto;
    }
}

